.leaderboard-image-cell {
    position: relative;
    width: 200px;
    height: 120px;
    background-size: cover, 125%;;
    background-position: center bottom, center -50px;
    background-repeat: no-repeat;
    padding: 0;
    overflow: hidden;
}

.leaderboard-image-cell::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    pointer-events: none;
    z-index: 1;
}

.leaderboard-image-cell .rank-text {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: white;
    font-size: 1.15rem;
    font-weight: bold;
    -webkit-text-stroke: 0.1px beige;
    text-shadow: 1px 2px 4px black;
    z-index: 2;
} 